@import "tailwindcss";

@theme {
    /* --color-primary      : var(--color-violet-500);
    --color-secondary    : var(--color-pink-500);
    --color-success      : var(--color-green-500);
    --color-error        : var(--color-red-500);
    --color-warning      : var(--color-yellow-500);

    --color-strong       : var(--color-gray-800);
    --color-soft         : var(--color-gray-900);
    --color-soft-border  : var(--color-gray-600);
    --color-strong-border: var(--color-gray-400);
    --color-soft-text    : var(--color-gray-400);
    --color-strong-text  : white;

    --soft-brightness    : 130%;
    --strong-brightness  : 160%; */

    --color-primary           : var(--color-violet-600);
    --color-secondary         : var(--color-pink-600);
    --color-success           : var(--color-green-600);
    --color-error             : var(--color-red-600);
    --color-warning           : var(--color-yellow-600);

    --color-strong            : white;
    --color-soft              : var(--color-gray-100);
    --color-soft-border       : var(--color-gray-200);     
    --color-strong-border     : var(--color-gray-300);
    --color-soft-text         : var(--color-gray-400);
    --color-strong-text       : var(--color-gray-900);

    --brightness-soft    : 80%;
    --brightness-strong  : 90%;

    /* 
      main:
      --font-size
      --font-bold

      --text-font-size
      --help-font-size
      --toast-font-size
      --title-font-size

      --input-padding
      --label-input-gap
      --label-container-gap
      --help-font-size
      --

      LABEL-INPUT

      

      INPUT
      
      --radius
      --padding
      --icon-text-gap
      --border-width
      --text-font-size
      --icon-font-size
      --font-weight
    */
}

@layer base {
  .dark {
    --color-primary      : var(--color-violet-500);
    --color-secondary    : var(--color-pink-500);
    --color-success      : var(--color-green-500);
    --color-error        : var(--color-red-500);
    --color-warning      : var(--color-yellow-500);

    --color-strong       : var(--color-gray-800);
    --color-soft         : var(--color-gray-900);
    --color-soft-border  : var(--color-gray-600);
    --color-strong-border: var(--color-gray-500);
    --color-soft-text    : var(--color-gray-400);
    --color-strong-text  : white;

    --brightness-soft    : 130%;
    --brightness-strong  : 160%;
    
    /* --color-primary           : var(--color-violet-600);
    --color-secondary         : var(--color-pink-600);
    --color-success           : var(--color-green-600);
    --color-error             : var(--color-red-600);
    --color-warning           : var(--color-yellow-600);

    --color-strong            : white;
    --color-soft              : var(--color-gray-100);
    --color-soft-border       : var(--color-gray-200);     
    --color-strong-border     : var(--color-gray-400);
    --color-soft-text         : var(--color-gray-400);
    --color-strong-text       : var(--color-gray-900);

    --soft-brightness    : 80%;
    --strong-brightness  : 90%; */
  }

  * {
    @apply box-border p-0 m-0;
  }

  .scrolled {
    position: sticky;
    top: 0;
    background-color: green;
    transition: height 0.3s ease-in-out;
    height: 20px;
  }

  .no-scrolled {
    position: sticky;
    top: 0;
    background-color: red;
    transition: height 0.3s ease-in-out;
    height: 50px;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
  /* Chrome, Safari */
  input[type=number] {
    -webkit-appearance: textfield;
  }
  /* Chrome */
  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* input[type=range]::-webkit-slider-runnable-track {
    @apply h-2 rounded-full bg-soft-smt;
  }
  input[type=range]::-webkit-slider-thumb {
    @apply w-4 h-4 rounded-full border-4 bg-smt border-primary;
  }
  input[type=range]::-moz-range-track {
    @apply h-2 rounded-full bg-soft-smt;
  }
  input[type=range]::-moz-range-progress {
    @apply h-2 rounded-full bg-primary;
  }
  input[type=range]::-moz-range-thumb {
    @apply w-4 h-4 rounded-full border-4 bg-smt border-primary;
  }
  input[type=range]::-ms-track {
    @apply h-2 rounded-full bg-soft-smt;
  }
  input[type=range]::-ms-fill-lower {
    @apply h-2 rounded-full bg-primary;
  }
  input[type=range]::-ms-thumb {
    @apply w-4 h-4 rounded-full border-4 bg-smt border-primary;
  } */

  .absolute-full-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .absolute-h-center {
    @apply absolute left-1/2 -translate-x-1/2;
  }
  .absolute-v-center {
    @apply absolute top-1/2 -translate-y-1/2;
  } 
  .fixed-full-center {
    @apply fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .fixed-h-center {
    @apply fixed left-1/2 -translate-x-1/2;
  }
  .fixed-v-center {
    @apply fixed top-1/2 -translate-y-1/2;
  }

  .row {
    @apply flex flex-row;
  }
  .row-h-center {
    @apply flex flex-row justify-center;
  }
  .row-v-center {
    @apply flex flex-row items-center;
  }
  .row-between {
    @apply flex flex-row justify-between;
  }
  .row-around {
    @apply flex flex-row justify-around;
  }
  .row-evenly {
    @apply flex flex-row justify-evenly;
  }
  .row-start {
    @apply flex flex-row justify-start;
  }
  .row-end {
    @apply flex flex-row justify-end;
  }
  .row-full-center {
    @apply flex flex-row justify-center items-center;
  }
  .row-between-center {
    @apply flex flex-row justify-between items-center;
  }
  .row-around-center {
    @apply flex flex-row justify-around items-center;
  }
  .row-evenly-center {
    @apply flex flex-row justify-evenly items-center;
  }
  .row-start-center {
    @apply flex flex-row justify-start items-center;
  }
  .row-end-center {
    @apply flex flex-row justify-end items-center;
  }

  .col {
    @apply flex flex-col;
  }
  .col-v-center {
    @apply flex flex-col justify-center;
  }
  .col-h-center {
    @apply flex flex-col items-center;
  }
  .col-between {
    @apply flex flex-col justify-between;
  }
  .col-around {
    @apply flex flex-col justify-around;
  }
  .col-evenly {
    @apply flex flex-col justify-evenly;
  }
  .col-start {
    @apply flex flex-col justify-start;
  }
  .col-end {
    @apply flex flex-col justify-end;
  }
  .col-full-center {
    @apply flex flex-col justify-center items-center;
  }
  .col-between-center {
    @apply flex flex-col justify-between items-center;
  }
  .col-around-center {
    @apply flex flex-col justify-around items-center;
  }
  .col-evenly-center {
    @apply flex flex-col justify-evenly items-center;
  }
  .col-start-center {
    @apply flex flex-col justify-start items-center;
  }
  .col-end-center {
    @apply flex flex-col justify-end items-center;
  }

  .wrap {
    @apply flex flex-wrap;
  }
  .wrap-v-center {
    @apply flex flex-wrap items-center;
  }
  .wrap-h-center {
    @apply flex flex-wrap justify-center;
  }
  .wrap-full-center {
    @apply flex flex-wrap justify-center items-center;
  }

  input {
    @apply outline-none;
  }
  select {
    @apply lg:cursor-pointer;
  }
  /* .alert-smt {
    @apply fixed inset-0 bg-dark/50 dark:bg-light/10 col-full-center z-60;
  } */
  /* .accent-smt {
    @apply accent-primary dark:accent-strong;
  } */
  /* .border-smt {
    @apply border-soft-border dark:border-dark-soft-border;
  } */
  /* .divide-smt {
    @apply divide-soft-border dark:divide-dark-soft-border;
  } */
  /* .bg-soft-smt {
    @apply bg-soft dark:bg-dark-soft;
  }   */
  /* .bg-strong-smt {
    @apply bg-strong dark:bg-dark-strong;
  } */
  /* .bg-smt {
    @apply bg-soft dark:bg-dark-strong;
  } */
  /* .bg-block-smt {
    @apply bg-strong dark:bg-dark-soft;
  } */
  /* .placeholder-smt {
    @apply placeholder:text-soft-text dark:placeholder:text-dark-soft-text;
  } */
  /* .text-soft-smt {
    @apply text-soft-text dark:text-dark-soft-text;
  } */
  /* .text-smt {
    @apply text-strong-text dark:text-dark-strong-text;
  } */
  .link-smt {
    @apply text-black active:underline active:brightness-90 dark:active:brightness-125 lg:hover:underline lg:cursor-pointer;
  }
  .button-smt {
    @apply active:brightness-(--soft-brightness);
    transition: filter 100ms;
  }
  .tag-smt {
    @apply px-2 py-1 font-semibold tracking-wide uppercase rounded-full;
  }

  /* @for $i from 0 through 100 {
    .darken-bg-#{$i * 5}::before {
      @apply content-[''] absolute inset-0 bg-inherit z-0 brightness-#{$i * 5};
      border-radius: inherit;
      transition: brightness 0.5s ease-in-out;
    }
  } */
}

