@tailwind base
@tailwind components
@tailwind utilities

@layer base

  :root
    // --light-color: #fff
    // --light-soft-color: #fff
    // --light-border-color: #000
    // --light-soft-text-color: #000
    // --light-text-color: #000

    // --dark-color: #000
    // --dark-soft-color: #000
    // --dark-border-color: #fff
    // --dark-soft-text-color: #fff
    // --dark-text-color: #fff

    // --primary-color: #000
    // --secondary-color: #000
    // --success-color: #000
    // --error-color: #000
    // --warning-color: #000

  // #f8fafc
    --light-color: #fff
    --light-soft-color: #f1f5f9
    --light-border-color: #e2e8f0
    --light-soft-text-color: #94a3b8
    --light-text-color: #0f172a
    --dark-color: #0f172a
    --dark-soft-color: #1e293b
    --dark-border-color: #334155
    --dark-soft-text-color: #94a3b8
    --dark-text-color: #fff

    --primary-color: #10b981
    --secondary-color: #000
    --success-color: #22c55e
    --error-color: #ef4444
    --warning-color: #eab308

    --note-color: #f16c6d

    // --light-color-rgb: 255, 255, 255
    // --light-soft-color-rgb: 255, 255, 255
    // --light-border-color-rgb: 0, 0, 0
    // --light-soft-text-color-rgb: 0, 0, 0
    // --light-text-color-rgb: 0, 0, 0

    // --dark-color-rgb: 0, 0, 0
    // --dark-soft-color-rgb: 0, 0, 0
    // --dark-border-color-rgb: 255, 255, 255
    // --dark-soft-text-color-rgb: 255, 255, 255
    // --dark-text-color-rgb: 255, 255, 255

    // --primary-color-rgb: 0, 0, 0
    // --secondary-color-rgb: 0, 0, 0
    // --success-color-rgb: 0, 0, 0
    // --error-color-rgb: 0, 0, 0
    // --warning-color-rgb: 0, 0, 0

  input
    @apply outline-none

  select
    @apply lg:cursor-pointer

  .alert-smt
    @apply fixed inset-0 bg-dark-50 dark:bg-light-10 col-full-center z-60

  .accent-smt
    @apply accent-primary dark:accent-light

  .border-smt
    @apply border-light-border dark:border-dark-border

  .divide-smt
    @apply divide-light-border dark:divide-dark-border

  .bg-soft-smt
    @apply bg-light-soft dark:bg-dark-soft
  .bg-smt
    @apply bg-light dark:bg-dark

  .placeholder-smt
    @apply placeholder:text-light-soft-text dark:placeholder:text-dark-soft-text

  .text-soft-smt
    @apply text-light-soft-text dark:text-dark-soft-text
  .text-smt
    @apply text-light-text dark:text-dark-text

  .link-smt
    @apply text-black active:underline active:brightness-90 dark:active:brightness-125 lg:hover:underline lg:cursor-pointer

  .button-smt
    @apply active:brightness-90 dark:active:brightness-140 lg:hover:brightness-90 lg:dark:hover:brightness-140 lg:active:brightness-80 lg:dark:active:brightness-180
    transition: filter 100ms
  
  .button-light-smt
    @apply active:brightness-90 lg:hover:brightness-90 lg:active:brightness-80
    transition: filter 100ms

  .button-dark-smt
    @apply active:brightness-140 lg:hover:brightness-130 lg:active:brightness-160
    transition: filter 100ms

  .tag-smt
    @apply tracking-wide uppercase font-semibold rounded-full px-2 py-1

  .image-block
    @apply fixed z-50 inset-0 bg-black bg-opacity-70

  @for $i from 0 through 100
    .darken-bg-#{$i * 5}::before 
      @apply content-[''] absolute inset-0 bg-inherit z-0 brightness-#{$i * 5}
      border-radius: inherit
      transition: brightness 0.5s ease-in-out
    
  
  

